* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

#root {
	min-height: 100%;
	position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
input,
input::placeholder {
	font-family: sans-serif;
}

a {
	text-decoration: none;
}
